*{
    margin: 0;
    padding: 0;
}
.nav{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    /* height: 60px; */
    height: 8vh;
    /* width: 100vw; */
    justify-content:space-between;
    padding: 16px;
    box-sizing: border-box;
    z-index: 2;
}
.nav-left, .nav-mid, .nav-right{
    display: flex;
    /* width: 100vw; */
    /* justify-content: center; */
    align-items: center;
}
.bars{
    display:flex ;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
.bars i{
    font-size: larger;
    margin: 0 10px;
}
.bars:hover{
    border-radius: 50%;
    background-color: rgb(211, 209, 209);
}
.youtube-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
}
.youtube-icon:hover p{
    text-decoration: underline;
}
.youtube-icon p{
    margin: 0px 0 0 5px;
    font-size: 20px;
    font-weight: bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}
#yt-icon{
    /* height: 30px;
    width: 30px;
    background-size: cover; */
    font-size: 30px;
    color: rgb(229, 17, 17);
    cursor: pointer;
}
.searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 520px; */
    /* background-color: white; */
    border-radius: 20px;
    margin: 0 15px 0 0;
}
.searchbar input{
    height: 38px;
    width: 600px;
    padding-left: 20px;
    border: 1px solid black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 16px;
}
#search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 60px;
    border: 1px solid grey;
    font-size: large;
    background-color: rgb(225, 225, 225);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    /* font-size:  */
}
#search-icon:hover{
    filter: brightness(90%);
}
.mic{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    margin: 5px;
    height: 40px;
    width: 40px;
}
.mic:hover{
    border-radius: 50%;
    background-color: rgb(211, 209, 209);
}
#nav-setting-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    margin: 10px;
    /* border: 1px solid grey; */
    font-size: large;
    /* background-color: wheat; */
}
#nav-setting-icon:hover{
    border-radius: 50%;
    background-color: rgb(211, 209, 209);
}
.sign-in-top{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(0, 145, 255);
    padding: 10px;
    border-radius: 40px;
}
.sign-in-top:hover{
    background-color: rgb(0, 145, 255) ;
    color: aliceblue;
    transition: all 0.3s ease-in-out;
}
.sign-in-top:hover p{
    color: aliceblue;
    transition: all 0.5s ease-in-out;

}
.sign-in-top p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    word-spacing: -3px;
    font-weight: bolder;
    color: rgb(0, 145, 255);
    cursor: pointer;
}
#profile-icon{
    border: 2px solid rgb(0, 145, 255);
    box-sizing: border-box;
    padding: 2px;
    border-radius: 50%;
    margin: 0 5px;
}
.nav-bottom ul{
    display: flex;
    float: right;
}
.sidebar{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 8vh;
    left: 0;
    /* justify-content: center; */
    /* align-items: center; */
    /* background-color: aliceblue; */
    /* width: 200px; */
    width: 15vw;
    height: 92vh;
    overflow: auto;
}
.sidebar::-webkit-scrollbar{
    /* width: 10px; */
    background-color: rgba(0, 119, 255, 0.705);
    /* color: aliceblue; */
    /* scrollbar-color: aliceblue; */
}
.sidebar::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.685);
    border-radius: 10px;
    /* width: 15px; */
}
.sidebar-section1, .sidebar-section3, .sidebar-section4, .sidebar-section5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 0.5px solid rgb(89, 88, 88);
}
.sidebar-section1 div , .sidebar-section3 div, .sidebar-section4 div, .sidebar-section5 div{
    /* background-color: antiquewhite; */
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* border: 1px solid silver; */
    height: 45px;
    border-radius: 15px;
}
.sidebar-section1 div i, .sidebar-section3 div i, .sidebar-section4 div i, .sidebar-section5 div i{
    font-size: 20px;
    /* align-self: start; */
    margin: 5px 16px;
    cursor: pointer;
}
.sidebar-section1 div:nth-of-type(2) i{
    font-size: 20px;
    /* align-self: start; */
    margin: 5px 20px;
    /* color: azure; */
}
.sidebar-section1 div p, .sidebar-section3 div p, .sidebar-section4 div p, .sidebar-section5 div p{
    /* float:calc(); */
    width: 100%;
    text-align: center;
    position: relative;
    right: 15px;
    cursor: default;
}
.sidebar-section1 div:hover p, .sidebar-section3 div:hover p, .sidebar-section4 div:hover p, .sidebar-section5 div:hover p{
    text-decoration: underline;
}
.sidebar-section1 div:hover, .sidebar-section3 div:hover, .sidebar-section4 div:hover, .sidebar-section5 div:hover{
    background-color: aliceblue;
    transition: all 0.2s ease;
}
.sidebar-section2{
    /* background-color: antiquewhite; */
    text-align: center;
    padding: 10px;
    padding-bottom: 20px;
    border-bottom: 0.5px solid rgb(89, 88, 88);
}
.sidebar-section2 p{
    /* line-height: 20px; */
    margin: 15px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sign-in-sidebar{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(0, 145, 255);
    padding: 10px;
    border-radius: 40px;
    height: 30px;
    width: 100px;
    margin: auto;
}
.sign-in-sidebar:hover{
    background-color: rgb(0, 145, 255) ;
    color: aliceblue;
    transition: all 0.3s ease-in-out;
}
.sign-in-sidebar:hover p{
    color: aliceblue;
    transition: all 0.5s ease-in-out;

}
.sign-in-sidebar p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    word-spacing: -3px;
    font-weight: bolder;
    color: rgb(0, 145, 255);
    cursor: pointer;
}
/* .sidebar-section4 div:nth-of-type(2) i{
    color: red;
    border: 2px solid rgb(15, 132, 234);
    border-radius:50%; ;
    z-index: -;
    height: 10px;
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.sidebar-section4 > p{
    align-self: flex-start;
    margin: 10px 5px;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 1px;
    color: rgb(0, 123, 255);
}
.sidebar-section6{
    padding: 10px;
}
.sidebar-section6 div{
    /* text-align: center; */
    margin: 10px 0;
}
.sidebar-section6 div a{
    font-size: 14px;
    color: rgb(7, 7, 63);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    word-spacing: 3px;
}
.sidebar-section6 div a:hover{
    text-decoration: underline;
}
.sec6-bottom{
    display: flex;
}
.sec6-bottom i{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    font-size: 10px;
}
.sec6-bottom p{
    /* font-size: 13px; */
}
.nav-bottom{
    background-color: rgb(242, 242, 242);
    display: flex;
    position: fixed;
    right: 0;
    top: 8vh;
    align-items: center;
    height: 6vh;
    padding: 0px 10px;
    box-sizing: border-box;
    /* width: 85.4309vw; */
    width: 85vw;
    float: right;
    z-index: 1;
    border-top: 0.2px solid black;
    border-bottom: 0.2px solid black;
    /* background-color: aliceblue; */
    /* overflow-x: scroll;
    overflow-y:visible;
    word-wrap: no-wrap;
    overflow-wrap: no-wrap; */
}
.nav-bottom ul{
    display: flex;
    justify-content: center;
    align-items: center;
    /* word-wrap: no-wrap;
    overflow-wrap: no-wrap; */
    list-style: none;
    /* overflow-x: visible; */
    /* overflow-y: auto; */
}
.nav-bottom ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    height: 4vh;
    width:max-content;
    border: 1px solid black;
    border-radius: 10px;
    /* box-sizing: ; */
    margin: 0 3px;
    padding: 5px 10px;
    box-sizing: border-box;
    align-self: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: medium;
    /* overflow-x: auto; */
    cursor: pointer;
    /* word-wrap: no-wrap;
    overflow-wrap: no-wrap; */
    flex-wrap: nowrap;
}
.nav-bottom ul li:nth-of-type(1){
    background-color:rgb(21, 20, 68) ;
    color: aliceblue;
}

.nav-bottom ul li:hover{
    background-color: rgb(21, 20, 68);
    color: aliceblue;
    transition: all 0.2s linear;
}
.grid-container{
    display: grid;
    /* background-color: aliceblue; */
    grid-template-columns: 25vw 25vw 25vw;
    /* border: 2px solid black; */
    /* height: 85vh; */
    margin-top: 14vh;
    width: 85vw;
    float: right;
    z-index: -5;
    grid-gap: 10px;
    padding: 16px 35px ;
    justify-content: space-between;
    box-sizing: border-box;
}
.grid-item1, .grid-item2, .grid-item3, .grid-item4, .grid-item5, .grid-item6{
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    height: 340px;
    box-sizing: border-box;
    /* text-align: center; */
    /* padding: 5px; */
}
.grid-item1:hover, .grid-item2:hover, .grid-item3:hover, .grid-item4:hover, .grid-item5:hover, .grid-item6:hover{
    box-shadow: 2px 2px 10px black;
    transform: scale(1.02);
    transition: all 0.2s ease;

}
/* .grid-item1 video{
    border: 2px solid aqua;
    height: 200px;
    width: 25vw;
    box-sizing: border-box;
} */
.grid-item1 iframe,.grid-item2 iframe,.grid-item3 iframe,.grid-item4 iframe,.grid-item5 iframe,.grid-item6 iframe{
    border-radius: 15px;
    height: 200px;
    width: 24vw;
    align-self: center;
    margin:5px;
}
.grid-item1 iframe:hover,.grid-item2 iframe:hover,.grid-item3 iframe:hover,.grid-item4 iframe:hover,.grid-item5 iframe:hover,.grid-item6 iframe:hover{
    border-radius: 0;
    transition: border-radius 0.2s linear;
}
.video-topic{
    display: flex;
    /* border: 1px solid seagreen; */
    padding: 5px 5px;
}
.grid-item1 > p,.grid-item2 > p,.grid-item3 > p,.grid-item4 > p,.grid-item5 > p,.grid-item6 > p{
    padding-left: 40px;
}